@import "/Theme.scss";
// Skeleton loading
.skeleton {
  opacity: 0.5;
  animation: skeleton-loading 1s linear infinite alternate;
  background-color: grey;
}
.skeleton-text-wrapper {
  width: 100%;
  margin-bottom: 0.4rem;
  & > * {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}
.skeleton-section1 {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  align-items: center;
}
.skeleton-section2 {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  margin-left: 5rem;
}
.skeleton-section3 {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  margin-left: 5rem;
}
.skeleton-img {
  height: 3rem;
  width: 3rem;
  object-fit: fill;
  border-radius: 50%;
  padding-right: 3rem;
}
.skeleton-text {
  height: 9px;
  width: 100%;
  border-radius: 0.125rem;
}
.skeleton-text2 {
  height: 9px;
  width: 80%;
  border-radius: 0.125rem;
}
@keyframes skeleton-loading {
  0% {
    background-color: grey;
  }
  100% {
    background-color: rgb(233, 233, 233);
  }
}
.trackeritem-section {
  // display: flex;
  padding: 1rem 0;
  //   border-top: 1px solid white;
  //   border-bottom: 1px solid white;
  //   width: 70%;
  //   @media (min-width: $breakpoint-desktop-large) {
  // width: calc(95.5% - 10%);
  //   }
  &__info {
  }
  &--coin-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
    // justify-content: space-between;
  }
  &--coin {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    gap: 1rem;
  }
  &--coin-data {
    display: flex;
    align-items: center;
    padding-right: 3rem;
    gap: 3rem;
    margin-left: auto;
  }
  &__img {
    height: 2rem;
    width: 2rem;
  }
  margin: auto;
  &__h1 {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    width: 5rem;
  }
  &__p {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    width: 8rem;
  }
  &__symbol {
    padding-left: 2rem;
  }
}
