@import "/Theme.scss";

.button {
  @media (max-width: 280px) {
    font-size: 16px;
  }
  font-size: 15px;
  font-weight: 500;
  padding: 6.4px 17.2px;
  border-radius: 50px;
  cursor: pointer;
  transition: 300ms;
  text-align: center;
  white-space: nowrap;
  &--primary {
    background-color: $primary--color;
    color: white;
    &:hover {
      background-color: #116bac;
      color: white;
    }
  }
  &--white {
    background-color: white;
    color: black;
    &:hover {
      background-color: whitesmoke;
      color: black;
    }
  }
  &--transparent {
    background-color: transparent;
    color: white;
    border: 1px solid #858585;
    &:hover {
      color: rgb(211, 211, 211);
    }
  }
}
