@import "/Theme.scss";
.hero {
  height: 90vh;
  position: relative;
  &-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/cover-image.jpg");
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @media (min-width: $breakpoint-desktop) {
      background-position: initial;
    }
    @media (min-width: $breakpoint-desktop-large) {
      background-position: center center;
    }
    filter: blur(3px);
    z-index: 2;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(
        1.58deg,
        rgb(0, 0, 0) 0.21%,
        rgba(34, 34, 34, 0) 50.79%
      );
    }
  }
  &::before {
    content: "";
    // position: absolute;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // background-image: url("/bg-img-crypto.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // filter: blur(8px);
    // z-index: 0;
    // background: linear-gradient(
    //   1.58deg,
    //   rgb(0, 0, 0) 0.21%,
    //   rgba(34, 34, 34, 0) 50.79%
    // );
  }
  &-wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    &-container {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__h1 {
        @media (max-width: $breakpoint-tablet) {
          font-size: 32px;
          width: 90%;
        }
        color: white;
        font-size: 60px;
        // width: 60%;
        margin: auto;
        text-align: center;
        line-height: 1.2;
        &--underline {
          position: relative;
          z-index: 2;
          // &::after {
          //   content: "";
          //   position: absolute;
          //   border: 7px solid $primary--color;
          //   bottom: 5px;
          //   right: 0;
          //   left: 0;
          //   z-index: -1;
          // }
        }
      }
      &__p {
        @media (max-width: $breakpoint-tablet) {
          font-size: 16px;
          width: 90%;
        }
        color: white;
        font-size: 23px;
        // width: 60%;
        margin: auto;
        text-align: center;
      }
      &__btns {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
