@import "/Theme.scss";
$breakpointcollapsenav: 900px;

.searchbar {
  @media (min-width: 970px) {
    display: initial;
  }
  &-inputcontainer {
    background-color: rgb(23, 25, 36);
    cursor: text;
    border-radius: 5px;
    padding: 9px 16px;
    @media (max-width: $breakpointcollapsenav) {
      width: 98%;
      margin: auto;
      margin-top: 15px;
    }
    width: 100%;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    @media (min-width: $breakpointcollapsenav) {
      margin-top: 0px;
    }
    &--active {
      border: 2px solid #777777;
    }
    &__icon {
      margin-right: 8px;
      height: 16px;
      cursor: default;
    }
  }

  @media (min-width: $breakpointcollapsenav) {
    width: 50%;
    max-width: 450px;
    margin-left: 32px;
    margin-right: 16px;
    position: relative;
    &__input {
      width: 100%;
      outline: none;
      color: rgb(187, 187, 187);
    }
    &__form {
      width: 100%;
    }
  }
  @media (max-width: $breakpointcollapsenav) {
    width: 100%;
    &__input {
      width: 100%;
      outline: none;
      color: rgb(187, 187, 187);
    }
    &__form {
      width: 100%;
    }
  }
  &-searchresults {
    background-color: rgb(23, 25, 36);
    max-height: 300px;
    overflow-y: scroll;
    top: 110%;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 450px;
    @media (max-width: $breakpointcollapsenav) {
      top: 92%;
      width: 95%;
      margin: auto;
      max-width: 100%;
    }
    border-radius: 5px;
    position: absolute;
    &-resultwrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      padding: 8px 16px;
      transition: 300ms;
      &:hover {
        background-color: rgb(33, 36, 51);
        cursor: pointer;
      }
      &-rightcontent {
        &__cap {
          color: #a1a7bb;
          font-size: 11px;
          font-weight: 500;
          @media (min-width: $breakpoint-desktop) {
            font-size: 13px;
          }
        }
      }
      &-noresults {
        &__h1 {
          font-size: 16px;
          color: white;
          font-weight: 400;
          text-align: center;
          padding-top: 30px;
        }
        &__p {
          font-size: 14px;
          color: rgb(207, 214, 228);
          font-weight: 300;
          text-align: center;
          width: 80%;
          margin: auto;
          padding-bottom: 20px;
        }
      }
    }
  }
}
