body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
button,
input {
  border: none;
  background-color: initial;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: default;
}
:root {
  --h1: 2.5rem;
  --p1: 1.375rem;
}
@media (min-width: 40rem) {
  :root {
    --button-font: 1.2rem;
    --h1: 2.5rem;
    --p1: 1.375rem;
    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 992px;
  }
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.landing-page {
  /* height: 100vh; */
  /* background: linear-gradient(
    173.54deg,
    #000000 73.19%,
    rgba(0, 0, 0, 0.66) 134.45%
  ); */
  background-color: rgb(8, 8, 8);
}
