@import "/Theme.scss";
.tracker-section {
  padding-top: 4rem;
  &__tracker {
    padding-top: 3rem;
    max-width: 70%;
    @media (min-width: $breakpoint-desktop-large) {
      max-width: 60%;
    }
    margin: auto;
    overflow-x: scroll;
  }
  &__textwrapper {
    &__h1 {
      margin: auto;
      text-align: center;
      font-size: 1.7rem;
      width: 70%;
      @media (min-width: $breakpoint-tablet) {
        font-size: 2.3rem;
        width: 90%;
      }
      color: white;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 0;
        @media (max-width: 1090px) {
          display: none;
        }
        right: 80%;
        @media (min-width: 1332px) {
          right: 75%;
        }
        border: 2px solid white;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 20px;
        right: 0;
        @media (max-width: 1090px) {
          display: none;
        }
        left: 80%;
        @media (min-width: 1332px) {
          left: 75%;
        }
        border: 2px solid white;
      }
      &--mobileunderline {
        @media (max-width: $breakpoint-tablet) {
          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            left: 23%;
            border: 4px solid $primary--color;
            bottom: 6px;
          }
        }
      }
      &--underline {
        position: relative;
        z-index: 0;
        &::before {
          @media (min-width: $breakpoint-tablet) {
            content: "";
            position: absolute;
            bottom: 5px;
            z-index: -1;
            right: 0;
            left: 0;
            border: 5px solid $primary--color;
          }
        }
      }
    }
  }
  &__searchbarwrapper {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hideDeskop {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.track {
  &:nth-child(1) {
    &::before {
      // If we want to remove the border top on the first child
      border: none;
    }
  }
  &::before {
    max-width: 70%;
    @media (min-width: $breakpoint-desktop-large) {
      max-width: 60%;
    }
    margin: auto;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: 1px solid white;
  }
}
